.top-content {
    height: calc(100vh - 5rem);

    /* debug */
    /* background-color: yellowgreen;
    border: 1px solid black; */
}

/******************************
SIDEBAR 
******************************/

.sidebar {
    min-height: calc(100vh - 5rem);
    width: 15rem;
    font-size: .8rem;

    flex-direction: column;

    background-color: #000000;
    color: #a3a3a3;

    /* debug */
    /* background-color: violet;
    border: 1px solid black; */
}

.sidebar .logo img {
    height: 2.5rem;
    margin-top: .5rem;
}

.sidebar #logo-xs {
    display: none;
}

.sidebar > * {
    margin-left: .5rem;
    margin-right: .5rem;
}

.navbar-menu img {
    height: 1.5rem;
}

.bar-l {
    margin-left: -0.5rem;
    padding-left: 0.5rem;
    border-left: .2rem solid #adff2f;
}

.sidebar .playlist {
    height: 60%;
    overflow: auto;
}

.sidebar .add-btn {
    width: 2rem;
    height: 2rem;
    background-color: #a3a3a3;
    padding: 0;
    font-size: 1.7rem;
    font-weight: 600;
}

.sidebar ul>li {
    margin: .5rem 0;
    font-size: .7rem;
}

.sidebar-footer img {
    height: .8rem;
    margin-right: .4rem;
}

.doe-spacing {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #a3a3a3;
}

.sidebar-footer {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: .5rem;
}

.sidebar-footer > div {
    cursor: pointer;
}

.john>img {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #a3a3a3;
    border-radius: 50%;
    margin-right: .5rem;
}

.add-playlist,
.navbar-menu a,
.doe-spacing,
.john {
    align-items: center;
}


/******************************
HEADER
******************************/

header {
    height: 5rem;
    width: calc(100% - 15rem);
    position: fixed;
    z-index: 1;

    background-color: #080b12;
    filter: opacity(0.9);

    /* debug */
    /* background-color: aquamarine;
    border: 1px solid black; */
}

.header-btn {
    border: 1px solid #ffffff;
    border-radius: 1rem;
    font-size: .7rem;
    font-weight: 500;
    color: #ffffff;
    margin-right: .5rem;
    background-color: transparent;
    padding: .5rem 1.8rem;

    float: right;

    /* debug */
    /* background-color: pink; */
}


/******************************
MAIN
******************************/

.main-content {
    height: calc(100vh - 5rem);
    width: calc(100% - 15rem);

    /* debug */
    /* border: 1px solid black;
    background-color: violet; */
}

main {
    padding-top: 5rem;
    height: 100%;
    overflow: auto;

    color: #ffffff;
    background-color: #141922;

    /* debug */
    /* background-color: antiquewhite;
    border: 1px solid black; */
}

.main-menu {
    width: 60%;
    margin: auto;
}

.main-menu>ul {
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-menu li {
    margin: 1rem;
}

.bar-b { /* FIX THIS */
    border-bottom: .2rem solid #adff2f;
}

/* MAIN Main */

main p,
main span {
    font-size: .8rem;
}

.main-main .col-2 {
    padding: 1rem;
    min-width: 200px;
    /* NOPE K! come trasformo le col?*/
    aspect-ratio: 1;

    flex-direction: column;
    /* align-items: center; */
    text-align: center;
}

.main-main h2,
.main-main p {
    margin-left: 1rem;
}

.main-main img {
    margin-bottom: 1rem;
}

.popular-artists img {
    border-radius: 50%;
}


/******************************
FOOTER
******************************/

footer {
    min-height: 5rem;
    margin-top: auto;
    padding: 0 .5rem 0 .5rem;

    justify-content: space-between;

    background-color: #282828;
    color: #a3a3a3;

    /* debug */
    /* background-color: yellowgreen;
    border: 1px solid black; */
}

footer > div {
    align-items: center;
}

footer img {
    height: 2.5rem;
    aspect-ratio: 1;
    margin-right: .5rem;
}

.song-details {
    flex-direction: column;
    line-height: .8rem;
    align-self: center;
}

.footer-song span {
    font-size: .6rem;
}

.footer-song-icons {
    flex-wrap: wrap;
}

.footer-player {
    flex-direction: column;
    justify-content: center;
}

.footer-player i {
    margin: 0 .8rem;
    font-size: 1.1rem;
}

.footer-player .fa-regular {
    font-size: 1.6rem;
}

.player-bar span {
    font-size: .5rem;
    font-weight: 600;
}

.player-icons,
.player-bar,
.sound-bar {
    align-items: center;
}

.progress-bar {
    height: .3rem;
    border-radius: .3rem;
    background-color: #5f5c5c;
    margin: .5rem 1rem;
    cursor: pointer;
}

.progress {
    display: block;
    width: 30%;
    height: 100%;
    border-radius: .3rem;
    background-color: #a3a3a3;
}

.player-bar .progress-bar {
    width: 25rem;
}

.sound-bar .progress-bar {
    width: 8rem;
    margin-right: .3rem;
}

.sound-bar i {
    font-size: .9rem;
    margin: 0 .4rem;
}

footer i {
    cursor: pointer;
}



/* MEDIA QUEARY */

/* MD */
@media screen and (max-width: 768px) {
    .main-menu {
        width: 100%;
        font-size: .8rem;
    }

}

/* SM */
@media screen and (max-width: 600px) {
    .main-menu {
        font-size: .7rem;
    }
}

/* XS */
@media screen and (max-width: 480px) {
   
    /* Sidebar */
    .sidebar {
        width: 3rem;
        align-items: center;
    }

    .sidebar #logo-basic,
    .sidebar span,
    .sidebar .playlist,
    .sidebar h4 {
        display: none;
    }

    .sidebar .bar-l {
        border-left: none;
    }

    .sidebar #logo-xs {
        display: block;
    }

    /* header */

    header {
        width: calc(100% - 3rem);
    }

    /* main */
    .main-menu {
        font-size: .6rem;
    }

    .main-content {
        width: calc(100% - 3rem);
    }

}

