/* LAYOUT FIRST */

.top-content {
    height: calc(100vh - 5rem);

    /* debug */
        background-color: yellowgreen;
        border: 1px solid black;
}

footer {
    min-height: 5rem;
    margin-top: auto;
    padding: 0 .5rem 0 .5rem;

    justify-content: space-between;

    /* background-color: #282828; */

    /* debug */
        background-color: yellowgreen;
        border: 1px solid black;
}

.sidebar {
    min-height: calc(100vh - 5rem);
    width: 15rem;
    /* overflow: auto; */

    flex-direction: column;

    font-size: .8rem;

    /* background-color: #000000; */

    /* debug */
        background-color: violet;
        border: 1px solid black;
}

.main-content {
    height: calc(100vh - 5rem);
    width: calc(100% - 15rem);
    background-color: violet;

    /* debug */
        border: 1px solid black;
}

header {
    height: 5rem;
    width: calc(100% - 15rem);
    background-color: aquamarine;
    position: fixed;
    z-index: 1;

    /* justify-content: right; */

    /* background-color: #080b12; */

    /* debug */
        border: 1px solid black;
}

main {
    margin-top: 5rem;
    /* padding-top: 5rem; */
    height: calc(100vh - 10rem);
    overflow: auto;

    /* color: #ffffff;
    background-color: #141922; */

    /* debug */
        background-color: antiquewhite;
        border: 1px solid black;
}

/* SIDEBAR */

.sidebar .logo img {
    height: 3rem;
    margin-top: .5rem;
}

.sidebar #logo-xs {
    display: none;
}

.sidebar > * {
    margin-left: .5rem;
    margin-right: .5rem;
}

.sidebar ul > li {
    margin: .5rem 0;
    /* font-size: .8rem; */
}

.sidebar .playlist {
    height: 60%;
    overflow: auto;
}

.bot { /* CHANGE THIS !!! */
    border-bottom: 1px solid black;
}

.sidebar-footer {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: .5rem;
}

.john > img {
    height: 1.5rem;
    width: 1.5rem;
    background-color: black;
    border-radius: 50%;
    margin-right: .5rem;
}

/* HEADER */

.header-btn {
    border: 1px solid #ffffff;
    border-radius: 1rem;
    font-size: .7rem;
    font-weight: 500;
    color: #ffffff;
    margin-right: .5rem;
    background-color: transparent;

    float: right;

    /* debug */
    background-color: pink;
}

/* MAIN */

.main-menu {
    width: 60%;
    margin: auto;
}

.main-menu > ul {
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-menu li {
    margin: 1rem;
}

/* MAIN Main */

main p,
main span {
    font-size: .8rem;
}

.main-main .col-2 {
    padding: 1rem;

    min-width: 200px; /* NOPE K! come trasformo le col?*/
    aspect-ratio: 1;

    flex-direction: column;
    align-items: center;
}

.main-main h2,
.main-main p {
    margin-left: 1rem;
}

.main-main img {
    margin-bottom: 1rem;
}

.popular-artists img {
    border-radius: 50%;
}


/* FOOTER */

footer > div {
    align-items: center;
}

footer img {
    height: 2.5rem;
    aspect-ratio: 1;
    margin-right: .5rem;
}

.footer-song > i {  /* CHECK THIS */
    flex-wrap: wrap;
}

.footer-player {
    flex-direction: column;
    justify-content: center;
}




/* MEDIA QUEARY */

/* MD */
@media screen and (max-width: 768px) {
    .main-menu {
        width: 100%;
        font-size: .8rem;
    }

}

/* SM */
@media screen and (max-width: 600px) {
    .main-menu {
        font-size: .7rem;
    }
}

/* XS */
@media screen and (max-width: 480px) {
    .sidebar {
        width: 3rem;
    }
     .main-content {
        width: calc(100% - 3rem);
     }

     header {
        width: calc(100% - 3rem);
     }

     .sidebar #logo-basic,
     .sidebar span,
     .sidebar .playlist {
        display: none;
     }

     .sidebar #logo-xs {
        display: block;
    }

    /* main */
     .main-menu {
        font-size: .6rem;
    }

}

